*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}

.container{
    position: relative;
}

.container:hover .tooltip{
    opacity: 1;
    top: -2.75rem;
}

.tooltip{
    opacity: 0;
   /* display: none;*/
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);    
    transition: opacity .25s , top 0.25s;
}

.tooltip .content{
    background: black;
    color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    white-space: nowrap;
}

.tooltip .triangle{
    position: absolute;
    background: black;
    width: 10px;
    height: 10px;
    transform: translateY(50%) rotate(45deg);
    left: 50%;
    bottom: 0;
}