*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    background: black;
}

body{
    font-family: sans-serif;
}

.nav{
    display: flex;
    justify-content: center;
}

.menu{
    display: flex;
    list-style: none;

}

.submenu{
    
    flex-direction: column;
    position: absolute;
    top: 100%;
    background: black;
    display: none;
}

.submenu .submenu{
    left: 100%;
    top: 0;
}

.item{
    position: relative;
}

.item:hover> .submenu{
    display: flex;
}

.link{
    display: inline-block;
    padding: 0.5rem 0.75rem;
    color: white;
    text-decoration: none;
}

.link:hover{
    background: grey;
}